<div class="card card-box">
    <div class="card-head">
        <header>Add New Reminder</header>

    </div>
    <div class="card-body " id="bar-parent">
        <div ng-init="get_reminder_frequency()">

            <form name="addReminderForm" ng-submit="addReminder(reminder_name,reminder_text,due_date,repetitive_y_n,email_frequency,sms_frequency,no_of_days_before,reminder_frequency)">
                <div class="form-group">
                    <label for="reminder_name">Name</label>
                    <input type="text" class="form-control" id="reminder_name" ng-model="reminder_name" placeholder="Name" required> 

                </div>
                <div class="form-group"> 
                    <label for="reminderText">Reminder Text</label>
                    <textarea class="form-control" id="reminderText" rows="3" ng-model="reminder_text" placeholder="Reminder Text" ng-change="MonitorLength(reminder_text.length);" required></textarea>
                    <div style="font-size: 12px; color: red" class="float-right">{{ reminder_text.length }}</div>

                </div>
                <div class="form-group">
                    <label for="date">Due Date </label>
                    <input type="date" id="date" class="form-control floating-label" ng-model="due_date" placeholder="Due Date" >

                </div>
                <label for="date"></label>
                <!--  <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" value="y" ng-model="repetitive_y_n" checked>Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="n" ng-model="repetitive_y_n">No
                    </label>
                </div> -->


                <div class="form-group">
                    <label> Repetitive / Non-repetitive</label>
                    <select class="form-control" ng-model="repetitive_y_n">
                        <option value="y">Repetitive</option>
                        <option value="n">Non-Repetitive</option>

                    </select>
                </div>

                <div class="form-group" ng-show="repetitive_y_n == 'y'">
                    <label for="reminder_frequency">Reminder Frequency</label>
                    <select class="form-control" ng-model="reminder_frequency" >
                        <option ng-repeat="rfq in reminder_frq" value="{{rfq.idreminder_frequency}}">{{rfq.reminder_frequency_name}}</option>
                    </select>
                </div>
               

                <!-- <label>Email Frequency</label>
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" value="1" ng-model="email_frequency" checked>Daily
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="2" ng-model="email_frequency">Alternatively
                    </label>
                </div> -->

                <div class="form-group" >
                    <label>Email Frequency</label>
                    <select class="form-control" ng-model="email_frequency">
                        <option value="1" selected>Daily</option>
                        <option value="2">Alternatively</option>

                    </select>
                </div>


                <!--  <label for="sms_fq">SMS Frequency</label>
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" value="1" ng-model="sms_frequency" checked>Daily
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="2" ng-model="sms_frequency">Alternatively
                    </label>
                </div> -->

                <div class="form-group" >
                    <label>SMS Frequency</label>
                    <select class="form-control" ng-model="sms_frequency">
                        <option value="1" selected>Daily</option>
                        <option value="2">Alternatively</option>

                    </select>
                </div>



                <div class="form-group">
                    <label for="no_of_days_before">No Of Days Before</label>
                    <input type="number" class="form-control" id="no_of_days_before" ng-model="no_of_days_before" placeholder="No Of Days Before">

                </div>

                
                <!-- <div class="form-group">
        <label for="date">Reminder Start Date</label>
        <input type="date" id="date" class="form-control floating-label" ng-model="reminder_start_date">
    </div> -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-raised">Add Reminder</button>
                </div>
            </form>
        </div>
    </div>
</div>