<!-- <div class="card card-box">
      <div class="card-head">
            <header>Assign Reminder To Receiver</header>

      </div>
      <div class="card-body " id="bar-parent">
            <div ng-init="getAllReminders()">
                  <form>
                        <ul class="list-group">
                              <li ng-repeat="x in reminderList" >
                                    <a   href="#!assign_reminderToreceiver_part_2/{{x.idreminder}}/{{receiver_id}}" class="list-group-item list-group-item-action list-group-item-light">
                                     {{x.reminder_name}}  >>
                                    </a>
                              </li>

                        </ul>
                  </form>
            </div>
      </div>
</div> -->
<div class="card card-box">
    <div class="card-head">
        <header>Assign Reminder</header>

    </div>
    <div class="card-body " id="bar-parent">

        <div ng-init="getAllReminders()">
            <label><input type="checkbox" class="form-check-input" ng-model="selectall" ng-click="toggleReminders();">  Select All Reminders</label>
            <form name="assign_reminder" ng-submit="assign_reminderToreceiver()">
                <div ng-repeat="x in reminderList">
                                            
                            <input ng-if="x.already_assign == 'no'" type="checkbox"  ng-model="reminder_ids[$index].value" ng-true-value="'{{x.idreminder}}'" ng-false-value="'{{undefined}}'"
                            > 
                             <i style="color:green;" ng-if="x.already_assign == 'yes'" class="material-icons">done</i>
                             {{x.reminder_name}}

                             <i style="color:red;" ng-if="x.already_assign == 'yes'" class="material-icons float-right" ng-click="UnassignReminder(x.idreminder,receiver_id);">clear</i>
                    
                </div>
                <button type="submit" class="btn btn-outline-success btn-sm">Assign Reminder</button>
            </form>
        </div>
    </div>
</div>