<div class="card card-box">
    <div class="card-head">
        <header>Assign Receiver to Reminder </header>

    </div>
    <div class="card-body" id="bar-parent">
        <div ng-init="getAllReceivers()">
            <form name="select_receivers" ng-submit="AssignSelectedReceivers();">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                           <th> <input type="checkbox"  ng-model="selectall_receivers" ng-click="toggleAllReceivers();"></th>
                            <th>Receivers</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in receiverList">
                            <td><input ng-if="x.already_assign == 'no'" type="checkbox"  ng-model="selected_receivers[$index]" ng-true-value="'{{x.idreceiver}}'" ng-false-value="'{{undefined}}'">
                                 <i style="color:green;" ng-if="x.already_assign == 'yes'" class="material-icons">done</i>
                            </td>
                            <td align="left">
                                <label class="form-check-label">
                                    
                                    <a href="#!/assign_receiverToreminder_part_2/{{ reminderId }}/{{x.idreceiver}}">
                                        {{x.receiver_name}}
                                    </a>
                                </label>
                            </td>
                            <td>
                                <i style="color:red;" ng-if="x.already_assign == 'yes'" class="material-icons" ng-click="UnassignReceiver(reminderId,x.idreceiver);"> clear</i>
                                <a class="float-right" href="#!/assign_receiverToreminder_part_2/{{ reminderId }}/{{x.idreceiver}}">
                                    <i class="material-icons">keyboard_arrow_right</i> </a>





                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" ng-disabled="isDisabled">Assign Receiver</button>
                </div>

            </form>
        </div>
    </div>
</div>