<div class="card card-box" >
    <div class="card-head">
        <header>Assign Reminder to Receiver </header>

    </div>
    <div class="card-body " id="bar-parent">
        <div ng-init="getReceiverContacts(); " ng-submit="assign_reminderToreceiver()">
            <label>Select Receivers</label>
            <form name="assign_reminder">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th> <label class="form-check-label">
                                    
                                    <input type="checkbox" class="form-check-input" ng-model="checkall" ng-click="toggleAll();">
                                </label> Receiver Contacts</th>
                            <th>Receiver</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in contactList">
                            <td align="left">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" ng-model="receiver_idreceiver_contacts[$index].value" ng-true-value="'{{x.idreceiver_contacts}}'"
                                        ng-false-value="'{{undefined}}'" > {{x.name}}
                                </label>
                            </td>
                            <td>{{x.receiver_name}}</td>
                        </tr>
                    </tbody>
                </table>

                <button type="submit" class=" btn btn-outline-success btn-sm">Assign Reminder</button>
            </form>
        </div>
    </div>
</div>
<!-- </table>{{receiver_idreceiver_contacts}}</table> -->