<div class="card card-box">
    <div class="card-head">
        <header>Reminders</header>

    </div>
    <div class="card-body " id="bar-parent">
        <div>
            <div>{{ message }}</div>

            <div id="accordion">
                <div class="card" ng-repeat="x in dashboard_reminderData">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{x.idreminder}}" aria-expanded="true" aria-controls="collapseOne">
                                {{x.reminder_name}}
                            </button>
                            <a class="float-right" href="#!/user_dashboard" ng-click="UserDashboard(x.idreminder,fromDate,toDate)"> >> </a>
                            
                        </h5>
                    </div>

                    <div id="collapse{{x.idreminder}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">

                            <div>
                                <label>Text</label> : {{x.reminder_text}} </div>
                            <div>
                                <label>Due Date: </label> {{x.due_date}} </div>
                            <div>
                                <label>Is Repetative?: </label> {{x.repetitive_y_n == 'y' ? "Yes" : "No"}}</div>
                            <div>
                                <label>Reminder Frequency: </label> {{x.reminder_frequency_name}} </div>
                            <div>
                                <label>Frequency For email: </label> {{x.email_frequency == 1 ? "Daily" : "Alternate day" }} </div>
                            <div>
                                <label>Frequency for sms: </label> {{x.sms_frequency== 1 ? "Daily" : "Alternate day" }} </div>
                            <div>
                                <label>No of days before: </label> {{x.no_of_days_before}} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>