<div class="card card-box">
    <div class="card-head">
        <header>Enter Date</header>

    </div>
    <div class="card-body " id="bar-parent">

        <form name="receiver_date_form" ng-submit="getDashboardReceiver(from_date,to_date);">
           
            
            <div class="form-group">
                <label class="bmd-label-floating"> From Date : </label>
                <input type="date"  class="form-control" ng-model="from_date">
            </div>
            <div class="form-group">
                <label for="to_date">To Date:</label>
                <input type="date" class="form-control"  ng-model="to_date" >


            </div>
            

           
            <button type="submit" class="btn btn-outline-success btn-sm">Submit</button>
             <button type="button" onclick="window.location='#!/'" class="btn btn-outline-secondary btn-sm">Cancel</button>
        </form>
    </div>
</div>