<div class="limiter">
	<div class="container-login100 page-background">
		<div class="wrap-login100">
			<form class="login100-form validate-form" ng-submit="UserLogin(uname,pwd)">
				<!-- <span class="login100-form-logo">
				<i class="fa fa-bell fa-lg"></i>
				</span> -->

				<span style="font-size: 14px; color:#fff;">For more details, Please reach us at <br><i class="fa fa-envelope"> </i>
			  startupss2018@gmail.com </span>
				<span style="font-size:23px;" class="login100-form-title p-b-34 p-t-27">
					Log in
				</span>
				<div class="wrap-input100 validate-input" data-validate="Enter Email">
					<input class="input100" type="text" ng-model="uname" placeholder="Email">
					<span class="focus-input100" data-placeholder="&#xf207;"></span>
				</div>
				<div class="wrap-input100 validate-input" data-validate="Enter password">
					<input class="input100" type="password" ng-model="pwd" placeholder="Password">
					<span class="focus-input100" data-placeholder="&#xf191;"></span>
				</div>
				<div class="container-login100-form-btn">
					<button type="submit" class="login100-form-btn">Login</button>
				</div>

			</form>
			<div class="text-center p-t-30">
				<span>OR</span>
				<br/>
				<div class="container-login100-form-btn">
					<a class="login100-form-btn" href="#!/registration">Sign Up</a>
				</div>
			</div>
		</div>
	</div>
</div>

