<div class="card card-box">
    <div class="card-head">
        <header>Password Reset</header>

    </div>
    <div class="card-body " id="bar-parent">

        <form name="password_update"  ng-submit="PasswordReset(password,confirm_password)">
            <input type="hidden" class="form-control" ng-model="company_profile_id">
            <input type="hidden" class="form-control" ng-model="uid">
            <input type="hidden" class="form-control" ng-model="company_name">
            <input type="hidden" class="form-control" ng-model="email_id">
            

            
            <div class="form-group">
                <label class="bmd-label-floating"> Enter new Password : </label>
                <input type="password"   class="form-control" ng-model="password" required>
            </div>
             <div class="form-group">
                <label class="bmd-label-floating"> Confirm Password : </label>
                <input type="password"  class="form-control" ng-model="confirm_password" required>
            </div>
			<div><span ng-if="password!=confirm_password" style="color:red;">Password not match</span></div>
            <button type="button" onclick="window.location='#!/'" class="btn btn-outline-secondary btn-sm">Cancel</button>
            <button type="submit" class="btn btn-outline-success btn-sm">Update Password</button>
        </form>
    </div>
</div>