<div class="card card-box">
    <div class="card-head">
        <header>Receiver Dashboard</header>

    </div>
   
    <div class="card-body " id="bar-parent" >
      <div>{{ msg }}</div>
        <div ng-repeat="x in receiver_dashboard">
          <div ng-if="$index == 0">From {{ from_date }} to {{ to_date }}</div>
            <label> {{x.receiver_name}}</label>
             
             <div  ng-repeat="innerItem in x.rem_data" class="row {{ innerItem.status }}">
               <div class="col-12">{{innerItem.reminder_name}}</div>
               <div class="col-6">Due Date: {{innerItem.due_date}} </div>
               <div class="col-6">Completion Date: {{innerItem.completion_date}}</div>
               <div class="divider"></div>
            </div>

        </div>
    </div>
</div>